@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* font-family: "Noto Serif", serif;
font-family: "Inter", sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----Share-property---- */
h3 {
	font-size: 3.125rem;
	font-weight: bold;
	font-family: "Noto Serif", serif;
}
.font-R-22 {
	font-size: 1.375rem;
	color: rgba(0, 0, 0, 0.5);
	font-family: "Inter", sans-serif;
}
.font-B-22 {
	font-size: 1.375rem;
	font-weight: bold;
	color: #111111;
	font-family: "Inter", sans-serif;
	margin-top: 20px;
	margin-bottom: 30px;
}
.font-M-22 {
	font-size: 1.375rem;
	font-weight: 500;
	color: #111111;
	font-family: "Inter", sans-serif;
	margin-top: 30px;
}

span {
	color: #e95a08;
}

.button {
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	padding: 19px 80px;
	background: #e95a08;
	text-decoration: none;
	border: none;
}
.margin-20 {
	margin: 20px 0;
}
.opacity {
	position: absolute;
    height: 100%;
    width: 100%;
	opacity: 0.5;
	background-color: #000000;
    border-radius: 22px;
}
a {
	color: #ffffff;
	font-family: "Inter", sans-serif;
}
.z-index {
	z-index: 1;
}
/* --------------------------------- */

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	background-color: #f5f8ff;
}

header{
	margin: 30px auto;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	margin: auto;
	font-family: "Inter", sans-serif;
}

.menu {
	display: flex;
	gap: 48px;
}

.menu a {
	text-decoration: none;
	color: #8987a1;
}
/* -----Banner-section---- */
.banner {
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	max-width: 1140px;
	margin: auto;
}
.banner-tittel h2 {
	font-size: 4rem;
	font-weight: bold;
	font-family: "Noto Serif", serif;
	margin-bottom: 14px;
}

/* --------our-plants-section---------- */

.our-plants-section {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.our-plants-description {
	margin: 120px auto 49px;
	text-align: center;
	max-width: 888px;
}
.plants-h3 {
	margin-bottom: 16px;
}
.card-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.lily-card {
	text-align: center;
}

/* -------Flower & Plants Lover------- */

.plants-lover-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 220px auto 133px;
	align-items: center;
	gap: 60px;
}
.flower-store-img {
	position: relative;
}
.trusted-badge {
	position: absolute;
	height: auto;
	max-width: 286px;
	top: -70px;
	right: -50px;
	filter:drop-shadow(0 0 15px rgba(0, 0, 0, 0.2));
	
}
/* .Plants-Lover {
	max-width: 540px;
	
} */
ul{
	padding-left: 40px;
}

/* --------Latest Deals-section---------- */

/* .latest-deals-section {
	max-width: 1148px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.latest-deals-titel {
	text-align: center;
	margin-bottom: 120px;
}

.latest-deals-container {
	display: flex;
	gap: 20px;
	margin-bottom: 800px;
	max-width: 1148px;
	width: 100%;
	height: 402px;
}
.latest-deals-titel p{
    font-size: 1.375rem;
	color: rgba(0, 0, 0, 0.5);
	font-family: "Inter", sans-serif;
    max-width: 888px;
    text-align: center;
    margin: 16px auto 0;
}
.left-img {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.left-img h4{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 19px;
}
.left-img a{
    font-size: 1rem;
    font-weight: 600;
}

.deal-bloom {
	background-image: url(./assets/deal-bloom.png);
	width: 100%;
	width: 367px;
	height: 201px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: #ffffff;
	position: relative;
    border-radius: 22px;
}
.deal-ana {
	background-image: url(./assets/deal-ana.png);
	width: 100%;
	width: 367px;
	height: 201px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: #ffffff;
	position: relative;
    border-radius: 22px;
}
.deal-zabo {
	background-image: url(./assets/deal-zabo.png);
	width: 100%;
	width: 753px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: #ffffff;
	position: relative;
    border-radius: 22px;
}
.right-img-text h4{
    font-size: 2.5rem;
    margin-bottom: 19px;
}
.right-img-text a{
    font-size: 1.75rem;
    font-weight: 600;
} */

.latest-deals-section{
	margin: auto;
	max-width: 1140px;
	text-align: center;

}
.latest-deals{
	display: flex;
	gap: 28px;
	align-items: center;
	margin-top: 120px;
}
.latest-deals-img{
	position: relative;
	overflow: hidden;
}
.radius{
	border-radius: 22px;
}
.left-img{
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.left-img h4{
	font-size: 1.25rem;
	font-family: "Noto Serif", serif;
	width: 350px;
}
.img-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 26px;
}
.deal-bloom{
	height: 100%;
}
.latest-deals-tittel p{
	font-size: 1.375rem;
	color: rgba(0, 0, 0, 0.5);
	font-family: "Inter", sans-serif;
	max-width: 888px;
	margin: 20px auto;
}
.overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 40%;
	background-color: #000000;
}

.right-img-text h4{
    font-size: 2.5rem;
	font-family: "Noto Serif", serif;
	width: 500px;
}
.right-img-text a{
    font-size: 1.75rem;
    font-weight: 600;
}


/* --------Available Responsive Breakpoints------ */

/* --------Small-Device <576px------ */

@media (max-width: 576px) {
	/* ---Header-section--- */

	header{
		margin: 16px;
	}
	.logo {
		width: 100%;
		max-width: 68px;
	}
	.menu .Home,
	.Shop,
	.About-us {
		display: none;
	}
	.menu .Cart {
		font-size: 1rem;
		color: #000000;
	}
	.fa-solid {
		font-size: 1rem;
	}

	/* -----Banner-section---- */

	.banner {
		display: flex;
		flex-direction: column-reverse;
		margin: auto;
	}
	.banner-tittel {
		padding: 0 16px;
	}
	.banner-tittel h2 {
		font-size: 2.5rem;
		font-weight: bold;
	}
	.banner-img {
		height: auto;
		width: 100%;
		margin-bottom: 28px;
	}

	/* ---------Our Plants section------ */
	.our-plants-section{
	}
	.plants-p {
		margin: 0 auto;
		padding: 0 10px;
	}

	/* ----------plants-lover-section--------- */

	.plants-lover-section {
		flex-direction: column;
		width: 100%;
		margin: 41px 0;
		align-items: center;
		gap: initial;
	}
	.Plants-Lover{
		padding: 0 10px;
	}

	.trusted-badge {
		display: none;
	}
	.flower-store-img {
		height: auto;
		width: 100%;
		padding: 0 5px;
		margin-bottom: 18px;
	}
	#Plants-Lover-description{
		width: 100%;
	}
	h3 {
		font-size: 2.5rem;
		font-weight: bold;
	}


/* -------latest-deals-section---- */
/* 
    .latest-deals-container{
        flex-direction: column;
    }
    .right-img{
        width: 100%;
        width: 576px;
        height: 100%;
        height: 172px;

    }
    .deal-zabo {
	width: 100%;
	max-width: 753px;
    height: 100%;
    height: 172px;

    }
    .left-img {
        max-width: 560px;
        width: 100%;
        height: auto;
	} */
	
	.latest-deals-section{
		padding: 0 10px;
	}
	.latest-deals{
		flex-direction: column;
		margin-top: 70px;
	}
	.latest-deals-img{
		width: 100%;
		height: auto;
	}
	.left-img, .deal-bloom, .deal-ana{
		width: 100%;
	}
	.right-img-text h4, .img-text h4{
    font-size: 2.25rem;
	font-family: "Noto Serif", serif;
	width: 500px;
	}
	.right-img-text a{
		font-size: 1.75rem;
		font-weight: 600;
	}
	.img-text a{
		font-size: 1.75rem;
		font-weight: 600;
	}
}
