@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Noto Serif", serif;
font-family: "Inter", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----Share-property---- */
h3{
    font-size: 3.125rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.font-R-22{
   font-size: 1.375rem;
   color: rgba(0, 0, 0, 0.5);
   font-family: "Inter", sans-serif;
}

span{
    color: #E95A08;
}

/* --------------------------------- */

body{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: #f5f8ff;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 120px;
    font-family: "Inter", sans-serif;
}

.menu{
    display: flex;
    gap: 48px;
}

.menu a {
    text-decoration: none;
    color: #8987A1;

}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
.banner-tittel h2{
    font-size: 4rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-bottom: 14px;
}

/* --------Available Responsive Breakpoints------ */

/* --------Small-Device <576px------ */
@media (max-width: 576px) {

    /* ---Header-section--- */

    .navbar-container{
        width: 100%;
        margin: 13px 16px;
        max-width: 544px;
        
    }
    .logo{
        width: 100%;
        max-width: 68px;
    }
    .menu .Home, .Shop, .About-us {
        display: none;
    }
    .menu .Cart{
        font-size: 1rem;
        color: #000000;
    }
    .fa-solid{
        font-size: 1rem;
    }

    /* -----Banner-section---- */

    .banner{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    max-width: 100vw;
    }
    .banner-tittel{
        width: 100%;
        max-width: 544px;
        align-items: center;
        margin: auto;
    }
    .banner-tittel h2{
        font-size: 1.5rem;
        font-weight: bold;
        max-width: 191px;
    }
    .banner-img{
        height: auto;
        object-position: top;
        object-fit: cover;
        width: 100%;
        margin-bottom: 28px;
    }
}